*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-size: 16px;
    font-family: Nunito;
}

body{
position: relative;
}


a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  text-decoration: none;
  margin: 0;
}

.navbar_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px 10px;
    max-height: 130px;
}

.container_list{
height: auto;
}

.logo_img{
border-radius: 100%;
max-width: 80px;
}

.logo{
display: flex;
align-items: center;
gap: 20px;
cursor: pointer;
}

.logo_text{
font-size: 30px;
font-weight: 600;
color: rgb(224, 174, 159);
}

.navbar_list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.list_link{
    color: rgb(224, 174, 159);
    font-size: 25px;
    max-height: max-content;
    position: relative;
    display: inline-block;
}

.list_link::after {
    content: ""; 
    position: absolute;
    left: 50%;
    bottom: -2px; 
    width: 0;
    height: 2px;
    background-color: rgb(224, 174, 159);
    transition: width 0.3s linear;
    transform: translateX(-50%);
}

.list_link:hover::after {
    width: 100%;
}

.list_link:hover::after,
.list_link.active::after {
    width: 100%;
}


.burger {
    position: relative;
    width: 24px;
    height: 21px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.input_burger {
 opacity: 0;
 height: 0px;
 overflow: hidden;
 width: 0px;
}

.burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: rgb(224, 174, 159);;
    transition: 0.3s ease-in-out;
}
  
.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: right center;
}
  
.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}
  
.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}
  
.wrapper_container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 10px;
}

.title_wrapper{
text-align: center;
}

.grid{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
gap: 20px;
}

.grid_element{
    background-color:  #f7e1d7;
    border-radius: 5px;
}

.element_text{
padding: 10px;
display: flex;
flex-direction: column;
color:#22181c;
}


.title_element{
text-align: center;
margin-bottom: 8px;
}

.title_wrapper{
    color: #e9bcb5;
}

.subtitle_element{
font-size: 22px;
margin-bottom: 25px
}

.second_part{
margin-top: 70px;
}

.title_third_part{
 color: #e9bcb5;
 text-align: center;
 margin-bottom: 30px;
}

.third_part{
margin-top: 100px;
}

.price_element{
font-size: 22px;
}

.price_wrapper{
display: flex;
justify-content: space-between;
}

.btn_element{
padding-block: 5px;
padding-inline: 10px;
font-size: 20px;
border-radius: 5px;
border-color:black;
background-color: #f7e1d7;
cursor: pointer;
color: #22181c;
}

.btn_element:hover{
    background-color: #dcbbab;
    transition: all 0.3s linear;
}

.element_img, .staff_img{
max-width: 100%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.wrapper{
margin-top: 30px;
}

.title_first_part,.title_second_part{
margin-block: 30px;
color: #e9bcb5;
}

.footer_container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 10px;
}

.social_box > a > img{
filter: invert(1);
width: 30px;
height: 30px;
}

.social_box > a{
display: flex;
align-items: center;
}

.footer{
background-color:#eacec0;
margin-top: 50px;
}

.social_box{
display: flex;
align-items: center;
color: #22181c;
max-width: 380px;
justify-content: space-between;
font-size: 22px;
padding-block: 15px;
letter-spacing: 1px;
}

.privacy_box > span, .social_box > img{
cursor: pointer;
}

hr{
background-color: #22181c;
height: 2px;
border: none;
}

.privacy_box{
display: flex;
justify-content: space-between;
padding-block: 10px;
color: #22181c;
}

.photo {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.img_photo {
    width: 100%;
    height: 100%;
}

.text_photo{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 100px;
text-align: center;
max-width: 620px;
backdrop-filter: blur(15px);
color:#e9c9bc;
line-height: 107%;
padding: 5px;
-webkit-backdrop-filter: blur(15px);
}

.location_container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 10px;
    margin-top: 40px;
}

.location_text{
text-align: center;
font-size: 45px;
margin-bottom: 45px;
color: #e9c9bc;
}

.element_list{
font-size: 30px;
}

.box_list{
list-style-type: none;
padding: 0;
}

.element_list::before {
    content: "\25A0";
    color:#e9c9bc;
    font-size: 45px;
    margin-right: 5px;
}

.element_list > a{
cursor: pointer;
color: #e9bcb5;
}

.stafff_container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 10px;
    margin-top: 50px;
}

.staff_element{
background-color:#e9c9bc;
border-radius: 5px;
}

.title_staff{
text-align: center;
color: #22181c;
font-size: 28px;
padding-bottom: 10px;
}

.text_grid{
padding: 8px;
}

.subtitle_staff{
color: #22181c;
font-size: 22px;
}

.staff_text{
text-align: center;
font-size: 50px;
color: #e9c9bc;
margin-bottom: 35px;
}

.grid_staff{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 10px;
}

.work_container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 10px;
    margin-top: 20px;
}

.work_text{
text-align: center;
color:#e9bcb5;
font-size: 45px;
}

.job_list, .offer_list{
font-size: 30px;
color: #e9bcb5;
list-style-type: none;
margin-block: 20px;
}

.job_list > li::before, .offer_list > li::before {
    content: "\25A0";
    color:#e9c9bc;
    font-size: 35px;
    margin-right: 5px;
}

.requirements{
font-size: 35px;
margin-top: 15px;
color:#22181c;
background-color:  #f7e4dc;
padding-inline: 5px;
}

.apply_now{
margin-top: 50px;
text-align: center;
}

.apply_text{
    text-align: center;
    font-size: 35px;
    color:#22181c;
}

.button_element{
padding: 20px;
background-color: #f7e1d7;
margin-top: 50px;
font-size: 30px;
border: 2px solid #22181c;
color: #22181c;
cursor: pointer;
}

.button_element:hover, .btn_modal:hover{
background-color: #dcbbab;
transition: all 0.3s linear;
}

.modal{
position: fixed;
z-index: 999;
left: 0;
top: 0;
align-self: center;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.7);
}


.modal_content{
    position: relative;
background-color:#f8f2f0;
padding: 20px 20px 30px 20px;
width: 470px;
left:50%;
top: 50%;
transform: translate(-50%, -50%);
display: flex;
border-radius: 10px;
flex-direction: column;
}

.close{
color: #aaa;
font-size: 28px;
font-weight: bold;
align-self: flex-end;
}

.input_three, .input_four{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-self: center;
}
  
.input_box, .input_box2 {
    position: relative;
    width: 360px;
}

.input_box img {
    position: absolute;
    left:5%;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
}
  
.input_box input {
    border-radius: 10px;
    background: white;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    color:#ecc7b9;
    width: 100%;
    padding-left: 15%;
    border: 3px;
}

.input_box2 input{
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid #e9bcb5;
font-size: 18px;
height: 50px;
color: #dcbbab;
width: 100%;
padding-left: 5%;
background: #f8f2f0;
font-weight: 500;
}

.input_box2:nth-child(4) input{
    padding-left: 3%;
}

  
.input_box label {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0.5;
    font-weight: 500;
    color:#22181c;
}

.input_box2 label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0.5;
    font-weight: 500;
    color:#22181c;
}

.input_box2:nth-child(4) label{
left: 20%;
}
  
.input_box input:focus,
.input_box input:valid,
.input_box2 input:focus,
.input_box2 input:valid{
    outline-color:#e9bcb5;
    border-color: #e9bcb5;
    -webkit-border-color: #e9bcb5;
}
  
.input_box input:focus ~ label,
.input_box input:valid ~ label,
.input_box2 input:focus ~ label,
.input_box2 input:valid ~ label {
   z-index: -1;
}

.checbox_container{
    margin-left: 35px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #22181c;
}

.btn_modal2{
align-self: flex-end;
margin-top: 35px;
padding: 10px;
font-size: 14px;
background-color: #f7e1d7;
border: 1px solid #22181c;
color: #22181c;
cursor: pointer;
}

.btn_modal{
    align-self: flex-end;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f7e1d7;
    border: 1px solid #22181c;
    color: #22181c;
    cursor: pointer;
}

.show {
    display: block;
}
.hide {
    display: none;
}

.close{
cursor: pointer;
}

@media (max-width: 1320.98px){
    .grid{
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    }

    .grid_staff{
        grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    }


    .element_img{
    width: 100%;
    }

    .text_photo{
        font-size: 65px;
        max-width: 430px;
    }

}

@media (max-width: 1024.98px){
    .list_item{
     font-size: 22px;
    }
    .navbar_list{
    gap: 50px ;
    }
    .logo_img{
    max-width: 60px;
    }
    .logo_text{
    font-size: 25px;
    }

    .grid{
        grid-template-columns: repeat(auto-fill, minmax(395px, 1fr));
    }

    .grid_staff{
        grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    }

    .text_photo{
    font-size: 50px;
    max-width: 300px;
    }

    .location_text{
    font-size: 35px;
    margin-bottom: 30px;
    }

    .element_list{
        font-size: 25px;
    }
        
    .element_list::before {
    font-size: 35px;
    }

    .title_staff{
    font-size: 22px;
    padding-bottom: 4px;
    }

    .subtitle_staff{
    font-size: 18px;
    }

    .work_text{
    font-size: 40px;
    }

    .requirements{
    font-size: 25px;
    }

    .job_list, .offer_list{
    font-size: 25px;
    }

    .apply_text{
    font-size: 25px;
    }

    .btn_apply{
    font-size: 25px;
    }

    .job_list > li::before, .offer_list > li::before{
    font-size: 30px;
    }

}

@media (max-width: 768.98px){
    .burger {
        display: block;
    }

    .title_gradient, .text_gradient{
        font-size: 30px;
        }
        .gradient_container{
            padding: 100px 70px;
        }
    .input_burger:checked ~ .burger > span:nth-of-type(1){
        transform: rotate(45deg);
    }

    .container_list{
        overflow: hidden;
        position: absolute;
        width: 100%;
        top:80px;
        height:0px;
        z-index: 999;
        transition: all 0.4s linear;
    }
  
    .navbar_list{
        flex-direction: column;
        background-color:antiquewhite;
        gap: 40px;
        width: 100%;
        height: 350px;
    }
    
    .navbar_container{
    padding-left: 0px;
    }

    .logo{
    gap: 10px;
    }
    
    .logo_img{
    margin-left: 10px;
    }

    .social_box > img{
    max-width: 30px;
    }

    .social{
    font-size: 23px;
    }

    .privacy_box {
   flex-direction: column;
   gap: 7px;
    }
    .text_photo{
        font-size: 35px;
        max-width: 200px;
    }

    .img_photo{
        width: 100%;
        height: 500px;
        object-fit: none;
    }

    .location_text{
        font-size: 23px;
        margin-bottom: 20px;
    }
    
    .element_list{
         font-size: 20px;
    }
            
    .element_list::before {
        font-size: 25px;
    }

    .grid_staff{
        grid-template-columns: 500px;
        justify-content: center;
    }

    .work_text{
    font-size: 30px;
    }

    .requirements, .job_list, .offer_list{
    font-size: 20px;
    }

    .btn_apply{
    font-size: 20px;
    padding: 10px;
    margin-top: 25px;
    }

    .apply_text{
    font-size: 20px;
    }

    .job_list > li::before, .offer_list > li::before{
        font-size: 20px;
        align-self: center;
        }
}

@media (max-width: 510.98px){
    .grid_staff{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .staff_text{
    font-size: 30px;
    }

    .modal_content{
    width: 380px;
    }

    .input_box, .input_box2{
    width: 330px;
    }

    .btn_modal{
    margin-top: 30px;
    }

    .btn_modal2{
        margin-top: 10px;
    }

    .checbox_container{
        margin-left: 5px;
        gap: 10px;
    }
}

@media (max-width: 425.98px){
.title_first_part{
font-size: 18-px;
}

.subtitle_element{
font-size: 18px;
}

.price_element{
font-size: 20px;
}

.grid{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.social_box > img{
    width: 25px;
   height: 25px;
}

.social{
    font-size: 20px;
}

.text_photo{
    font-size: 26px;
    max-width: 160px;
}

    .img_photo{
        width: 100%;
        height: 400px;
        object-fit: none;
    }

    .location_text{
        font-size: 22px;
        margin-bottom: 15px;
    }
    
    .element_list{
         font-size: 20px;
    }
            
    .element_list::before {
        font-size: 20px;
    }

    .title_staff{
        font-size: 19px;
        padding-bottom: 4px;
        }
    
        .subtitle_staff{
        font-size: 15px;
        }

        .modal_content{
            width: 300px;
        }
        
        .input_box, .input_box2{
            width: 270px;
        }

        .input_box img {
            height: 18px;
            width: 18px;
        }

        .input_box input, .input_box2 input{
        height: 50px;
        font-size: 16px;
        }

        .modal_content{
            padding: 15px 20px 25px 20px;
        }
        .input_box2:nth-child(4) label{
            left: 2%;
            }
        
}

.input_burger:checked  ~ .container_list{
    height: 350px;
}